@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Open Sans", serif;
    overflow-x: hidden
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
    min-height: 100vh;
}
.title{
    position: absolute;
    font-size: .8rem;
    color: #ff9966;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 60px;
    text-align: center;
}
.amigo-sec{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amigo-sec-con{
    display: flex;
    gap: 10px;
}
.card{
    border-radius: 20px;
    position: relative;
    padding: 1rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    border: 1px solid #ff9966;
    background-color: #151515;
    color: white;
    height: 254px;
}
.card-function {
    width: 180px;
}
.card-amigos{
    width: 120px;
}
.card-list{
    display: flex;
    justify-content: center;
}
.card-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}
.card-list button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ff9966;
}
.card-list button:hover {
    color: #ff6666;
}
.card-fun-title,
.card-list-title{
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.card-fun-body{
    display: flex;
    flex-direction: column;
}
.card-btn-sortear {
    transform: translate(-50%, 125%);
    width: 20%;
    height: 16%;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: 0.3s ease-out;
    transform: translate(-50%, 50%);
    background-color: #151515;
    border: 1px solid #ff9966;
}
.card-amigos-btn{
    padding: 18px 13px;
    align-items: center;
    border: none;
    font-size: 1rem;
    background-color: #151515;
    border: 1px solid #ff9966;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: 0.3s ease-out;
    transform: translate(-50%, 50%);
}
.btn-sortear i,.btn-limpiar i{
    transform: scale(2);
    color: #ff9966;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.sortear-active{
    opacity: 1;
    cursor: pointer;
}
.dace-active{ 
    transform: scale(2.3);
    animation: flip .5s;
}

@keyframes flip {
    0%{
        transform: rotate(0deg) scale(2.3);
    }
    100% {
        transform: rotate(360deg) scale(2.3);
    }
}
.card-fun-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.card-fun-body input{
    border-radius: 10px;
    border: 1px solid #ff9966;
    background-color: #151515;
    padding: 5px 5px;
    margin: 10px;
    color: white;
}
.card-fun-body input::placeholder{
    color: white;
}
.card-fun-body button{
    background-color: #151515;
    margin: 0 auto;
    width: 120px;
    height: 20px;
    border: 1px solid #ff9966;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
}
.card-fun-body button:hover{
    background: #ff9966;
    color: white;
    font-size: 0.9rem;
}

.alert{
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-110px);
    padding-top: 0px;
    width: 100%;
}
.alert-con{
    color: white;
    background-color: #151515;
    display: flex;
    padding: 10px;
    border: 1px solid #ff9966;
    border-radius: 8px;
    align-items: center;
    height: 15px;
}
.alert-con button{
    background-color: transparent;
    color: #ff9966;
    border: none;
    cursor: pointer;
}
.alert-con i{
    margin: 0px 15px;
    z-index: 2;
}
.alert-icon i{
    border: 1px solid #ff9966;
    padding: 3px 9px;
    border-radius: 50%;
    background-color: #ff996652;
}

/*ANIMACION POP ALERT*/
.alertActive{
    transform: translateY(0);
}
.alertNotActive{
    transform: translateY(-110px);
}
footer{
    position: absolute;
    top: 96%;
    display: flex;
    justify-content: center;
    width: 100%;
}
footer p{
    color: #ff9966;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    bottom: 20px; 
    width: 78%;
}

.pagination button {
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
    color: #ff9966;
    border: none;
    scale: 1.3;
}
.trash{

}